<h1>Reach</h1>

<button class="btn btn-success pull-right" data-toggle="modal" data-target="#addModal"><span class="fa fa-plus"></span>
    Add
</button>

<reach-graph datapoints="vm.datapoints" graph-options="vm.graphOptions"></reach-graph>

<ul class="legend">
    <li>Impressions:</li>
    <li class="legend-total-impressions"><label><input ng-model="vm.graphOptions.showTotal" type="checkbox"/> Total</label></li>
    <li class="legend-organic-impressions"><label><input ng-model="vm.graphOptions.showOrganic" type="checkbox"/> Organic</label></li>
    <li class="legend-viral-impressions"><label><input ng-model="vm.graphOptions.showViral" type="checkbox"/> Viral</label></li>
    <li class="legend-paid-impressions"><label><input ng-model="vm.graphOptions.showPaid" type="checkbox"/> Paid</label></li>
</ul>

<div class="text-center">
    <label><input ng-model="vm.graphOptions.logarithmicScale" type="checkbox"/> Logarithmic scale</label>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalTitle">Add Datapoint</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <!-- Organic -->
                    <div class="form-group">
                        <label for="inputOrganic" class="col-sm-4 control-label">Organic impressions</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inputOrganic"
                                   ng-model="impressions.organic">
                        </div>
                    </div>

                    <!-- Viral -->
                    <div class="form-group">
                        <label for="inputViral" class="col-sm-4 control-label">Viral impressions</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inputViral"
                                   ng-model="impressions.viral">
                        </div>
                    </div>

                    <!-- Paid -->
                    <div class="form-group">
                        <label for="inputPaid" class="col-sm-4 control-label">Paid impressions</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inputPaid"
                                   ng-model="impressions.paid">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.create(impressions)">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>
